<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Project Conversations" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="min-h-screen" style="background-image: url('https://framerusercontent.com/images/gkIAjhpACyplYZsHCai8gf7ZE.jpg'); background-size: cover; background-position: center; background-attachment: fixed;">
      <div class="min-h-screen" style="background: linear-gradient(to bottom, rgba(102, 73, 210, 0.3), rgba(102, 73, 210, 0.3));">
        <div>
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>

